body{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  letter-spacing: -0.4px;
}
::placeholder {
  letter-spacing: -1px;
}
a, a:active,a:hover,a:focus, a:visited{
  text-decoration: none;
  color:inherit;
}
/* login page*/
.start_page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background:url(../img/bg_login.jpg) no-repeat 100% center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_wrap {
  width: 360px;
  line-height: 1.5;
  text-align: left;
  color: rgba(255,255,255,0.9);
}
.login_wrap .top_title{
  font-size: 2em;
  font-weight: 100; 
}
.login_wrap .sub_title {
  display: block;
  font-size: 0.8em;
  font-weight: 400;
}
.login_wrap input,.login_wrap button, .login_wrap a[role='button']{
  margin: 5px 0;
}
.login_wrap input:not([type="checkbox"]),.login_wrap button, .login_wrap a[role='button'] {
  width: 100%;
  height: 45px;
  line-height: 45px;
}
.login_wrap input:not([type="checkbox"]) {
  box-sizing: border-box;
  padding: 5px 5px 5px 10px;
  border:1px solid #ccc;
  background: #fff;
}
.login_wrap button, .login_wrap a[role='button']{  
  font-weight: 700;
  text-align: center;
  color:#000;
  background: orange;
}
.bottom_login {
  margin-top: 15px;
}
.bottom_login a:first-of-type{
  margin-right: 220px;
}

.login_verify {
  width: 100%;
}
.login_verify input[type='text'] {
  width: 77%;
  float: left;
}
.login_verify button {
  width: 20%;
  float: right;
}
.verify_comfirm{
  display: none;
}
.verify_comfirm button, .login_wrap .bottom_login .btn_search_id {  
  background: lightseagreen;
}

.search_result {
  padding: 30px 0;
  font-size: 1.2em;
  color: #fff;
}
.search_result b{
  display: block;
  font-size: 1.4em;
}
